{% extends "index.html" %} 

{% block header %}
<div class="section resume-data" data-background-color="black">
  <div class="container" data-background-color="black">
    <h1>About Me</h1>
  </div>
</div>
{% endblock %} 

{% block content %}
<section class="page-section" id="personal">
  <div class="section-story-overview">
    <div class="row">
      <div class="col-md-6">
        <!-- Left Side -->
        <div
          class="image-container"
          style="background-image: url('static/img/headshot1.jpg')"
        ></div>
        </br>
        <div class="container">
          <h3>
          So what does the new record for the lowest level of winter ice
          actually mean
        </h3>
        <p>
          The Arctic Ocean freezes every winter and much of the sea-ice then
          thaws every summer, and that process will continue whatever happens
          with climate change. Even if the Arctic continues to be one of the
          fastest-warming regions of the world, it will always be plunged into
          bitterly cold polar dark every winter. And year-by-year, for all kinds
          of natural reasons, there’s huge variety of the state of the ice.
        </p>
        <p>
          For a start, it does not automatically follow that a record amount of
          ice will melt this summer. More important for determining the size of
          the annual thaw is the state of the weather as the midnight sun
          approaches and temperatures rise. But over the more than 30 years of
          satellite records, scientists have observed a clear pattern of
          decline, decade-by-decade.
        </p>
        </div>
        
      </div>
      <div class="col-md-6">
        <!-- Right Side -->
        <div class="container">
          <h3>
            So what does the new record for the lowest level of winter ice
            actually mean
          </h3>
          <p>
            The Arctic Ocean freezes every winter and much of the sea-ice then
            thaws every summer, and that process will continue whatever happens
            with climate change. Even if the Arctic continues to be one of the
            fastest-warming regions of the world, it will always be plunged into
            bitterly cold polar dark every winter. And year-by-year, for all kinds
            of natural reasons, there’s huge variety of the state of the ice.
          </p>
          <p>
            For a start, it does not automatically follow that a record amount of
            ice will melt this summer. More important for determining the size of
            the annual thaw is the state of the weather as the midnight sun
            approaches and temperatures rise. But over the more than 30 years of
            satellite records, scientists have observed a clear pattern of
            decline, decade-by-decade.
          </p>
          <div
          class="image-container"
          style="background-image: url('static/img/headshot1.jpg')"
        ></div>
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- <div class="container" align="center">
    <div class="container">
      <img src="static/img/headshot1.jpg" />
    </div>
  </div> -->

</section>
{% endblock %}
