{% extends "index.html" %}

{% block header %}
  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/styles/assets/img/miami1.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h3 class="title">
            “I mean, they say you die twice. One time when you stop breathing and a 
            second time, a bit later on, when somebody says your name for the last time.” 
            </br> 
            <h3 class="title" align="right">- Banksy</h3>
        </h3>
        </div>
      </div>
    </div>
</div>
{% endblock %}
 
{% block content %}
<div class="section section-about-us" data-background-color="black">
    <div class="section section-images" data-background-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="hero-images-container">
                        <img src="static/styles/assets/img/persona.jpg" alt="">
                    </div>
                </div>
                
            </div>
            <div class="container">
                <div align="center">
                    <div class="hero-images-container">
                        <h1 class="title">Zev Lerner</h1>
                    </div>
                </div>
                <iframe width="960" height="500" src="https://xd.adobe.com/embed/dee2e5f3-bbc0-4a4e-b75e-a9b3a7551f4c-8bb1/" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}