{% extends "index.html" %}

{% block header %}
  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/styles/assets/img/miami1.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h3 class="title">
            “I mean, they say you die twice. One time when you stop breathing and a 
            second time, a bit later on, when somebody says your name for the last time.” 
            </br> 
            <h3 class="title" align="right">- Banksy</h3>
        </h3>
        </div>
      </div>
    </div>
</div>
{% endblock %}
 
{% block content %}
<div class="section section-about-us" data-background-color="black">
    <div class="section section-images" data-background-color="black"  style="margin-bottom: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="hero-images-container" style="position: relative; z-index: 2;">
                        <img src="static/styles/assets/img/persona.jpg" alt="">
                    </div>
                </div>
                <div class="container">
                    <div align="center">
                        <div class="hero-images-container" style="position: relative; z-index: 3;">
                            <img
                                src="static/img/zev-logo.png"
                                href="/"
                                width=""
                                style="margin-bottom: -7%; margin-top: -4%;"
                                alt=""
                                align=""
                            />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12" align="center">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="max-width: 85%; margin: 0px">
                            <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block" src="static/img/image1.png" alt="First slide" style="z-index: 0">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Nature, United States</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block" src="static/img/image7.png" alt="Second slide" style="z-index: 0;">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Somewhere Beyond, United States</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block" src="static/img/image8.png" alt="Third slide" style="z-index: 0">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Yellowstone National Park, United States</h5>
                                </div>
                            </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="section" data-background-color="orange" style="background-image: url('static/styles/assets/img/miami2.jpg');background-repeat: no-repeat; background-size: 100% 100%;">
        <div align="center">
            <div class="container" align="center">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card card-header-icon" data-background-color="black" href="/projects">
                                <div class="card-icon">
                                    <h3 class="card-title">
                                        </br>Resume
                                    </h3>
                                    <i class="material-icons">slogan</i>
                                </div>
                                <p class="card-category">Description</p>
                            </div>
                            <div>
                                <a href="/resume">
                                    <button class="btn btn-primary" style="width: 85%; margin-top: -2.5%" type="button">
                                        My Resume
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card card-header-icon" data-background-color="black" href="/projects">
                                <div class="card-icon">
                                    <h3 class="card-title">
                                        </br>Projects
                                    </h3>
                                    <i class="material-icons">slogan</i>
                                </div>
                                <p class="card-category">Description</p>
                            </div>
                            <div>
                                <a href="/projects">
                                    <button class="btn btn-primary" style="width: 85%; margin-top: -2.5%" type="button">
                                        Completed Projects
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="card">
                            <div class="card card-header-icon" data-background-color="black" href="/projects">
                                <div class="card-icon">
                                    <h3 class="card-title">
                                        </br>Contact Me
                                    </h3>
                                    <i class="material-icons">slogan</i>
                                </div>
                                <p class="card-category">Description</p>
                            </div>
                            <div>
                                <a href="#contact-me">
                                    <button class="btn btn-primary" style="width: 85%; margin-top: -5%" type="button">
                                        Contact Form
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card card-header-icon" data-background-color="black" href="/projects">
                                <div class="card-icon">
                                    <h3 class="card-title">
                                        </br>LinkedIn <i class="fab fa-linkedin"></i>
                                    </h3>
                                    <i class="material-icons">slogan</i>
                                </div>
                                <p class="card-category">Description</p>
                            </div>
                            <div>
                                <a href="https://www.linkedin.com/in/zevlerner411/">
                                    <button class="btn btn-primary" style="width: 85%; margin-top: -5%" type="button">
                                        LinkedIn Redirect
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="card">
                            <div class="card card-header-icon" data-background-color="black" href="/projects">
                                <div class="card-icon">
                                    <h3 class="card-title">
                                        </br>About Me
                                    </h3>
                                    <i class="material-icons">slogan</i>
                                </div>
                                <p class="card-category">Description</p>
                            </div>
                            <div>
                                <a href="/about">
                                    <button class="btn btn-primary" style="width: 85%; margin-top: -5%" type="button">
                                        Information About Me
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card card-header-icon" data-background-color="black" href="/projects">
                                <div class="card-icon">
                                    <h3 class="card-title">
                                        </br>GitHub <i class="fab fa-github"></i>
                                    </h3>
                                    <i class="material-icons">slogan</i>
                                </div>
                                <p class="card-category">Description</p>
                            </div>
                            <div>
                                <a href="https://github.com/Zevl411">
                                    <button class="btn btn-primary" style="width: 85%; margin-top: -5%" type="button">
                                        GitHub Redirect
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center" id="contact-me" data-background-color="black">
      <div class="container" style="background-color: #E57916;background-image: url('static/styles/assets/img/sunset-grade.jpg');" >
        <h2 class="title">Send me a message!</h2>
        <p class="description">I would enjoy your feedback and inqueries.</p>
        <div class="row">
          <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
            <div class="input-group input-lg" style="border: #6610f2;">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="First Name...">
            </div>
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons ui-1_email-85"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Email...">
            </div>
            <div class="textarea-container">
              <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
            </div>
            <div class="send-button">
              <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}