{% extends "index.html" %}

{% block header %}
<div class="section resume-data" data-background-color="black">
  <div class="container" data-background-color="black">
    <h1>Projects</h1>
  </div>
</div>
{% endblock %} 

{% block content %}
<section class="page-section" id="services">
    <div class="container" align="center">
      <h1>
        <button
          class="btn"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <div class="container" align="center">
            <img
              src="static/img/animatedSpotify.gif"
              width="60%"
              alt=""
              align=""
            />
          </div>
          
          Spotify Music Controller
      
          <div class="collapse" id="collapseExample">
            <div class="row">
              <div class="col-md-4">
                <div class="container" align="left">
                  <small>Example Code</small>
                </div>
                <img
                  src="static/img/leftImage1.png"
                  width=""
                  alt=""
                  align="left"
                />
              </div>
              <div class="col-md-7">
                </br>
                <ol>
                  <small>Goals</small>
                  </br>
                  <font size="5">
                    The Arctic Ocean freezes every winter and much of the sea-ice then
                    thaws every summer, and that process will continue whatever happens
                    with climate change. Even if the Arctic continues to be one of the
                    fastest-warming regions of the world, it will always be plunged into
                    bitterly cold polar dark every winter. And year-by-year, for all kinds
                    of natural reasons, there’s huge variety of the state of the ice.
                  </font>
                </ol>
                <ol>
                  </br>
                  <small>Structure</small>
                  </br>
                  <font size="5">
                    For a start, it does not automatically follow that a record amount of
                    ice will melt this summer. More important for determining the size of
                    the annual thaw is the state of the weather as the midnight sun
                    approaches and temperatures rise. But over the more than 30 years of
                    satellite records, scientists have observed a clear pattern of
                    decline, decade-by-decade.
                  </font>
                </ol>
              </div>
            </div>
          </div>
        </button>
        
      </h1>
    </div>

    <div class="container" align="center">
      <h1>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample2"
          aria-expanded="false"
          aria-controls="collapseExample2"
        >
          <img
            src="static/img/logo.png"
            width="20%"
            alt=""
            align=""
          />
          Speed-Reader
          <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
          labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
        </button>
        
      </h1>
      
    </div>


</section>
{% endblock %}
