{% extends "index.html" %}
{% block header %}
   <div class="section resume-data" data-background-color="black">
  <div class="container" data-background-color="black">
    <h1>Projects</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="page-section" id="services">
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
    <div class="container" align="center">
        <iframe width="1020" height="600" src="https://xd.adobe.com/embed/dee2e5f3-bbc0-4a4e-b75e-a9b3a7551f4c-8bb1/" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</section>
{% endblock %}