{% extends "index.html" %} 

{% block header %}
<div class="section resume-data" data-background-color="black">
  <div class="container" data-background-color="black">
    <h1>Resume Page</h1>
  </div>
</div>
{% endblock %} 

{% block content %}
<div class="container" align="center">
  </br>
  <embed src="static/styles/assets/demo/Resume.pdf" width="800px" height="1100px" />
  <div class="card-body d-flex flex-column">
    <div class="container" align="center">
      <button class="align-self-end btn btn-primary fixed-bottom" style="margin-left: 1150px; margin-bottom: 450px;" type="button">
        <a href="static/styles/assets/demo/Resume.pdf" download="ZevLernerResume">
          <h5 style="color:#ffffff;">
            Download my </br> resume here!
          </h5>
        </a>
      </button>
    </div>
  </div>
</div>
<div class="container" align="center">
<div class="card" style="width: 800px;" align="center">
  </br>
  <p>
    <strong>For more information, please check out my: </strong></br> 
    <a href="/projects">Projects page</a> to see more details about some of my completed work. </br>
    <a href="/about">About Me page</a> and get to know my personality and upbringing. </br>
    You can also access my <a href="https://www.linkedin.com/in/zevlerner411/">LinkedIn profile</a> and <a href="https://github.com/Zevl411">GitHub profile</a>. 
  </p>
  </br>
</div>
</div>
{% endblock %}
