{% extends "index.html" %} 

{% block header %}
<div class="section resume-data" data-background-color="black">
  <div class="container" data-background-color="black">
    <h1>Resume Page</h1>
  </div>
</div>
<div id="google doc style">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" /><style
    type="text/css"
  >
    @import url("https://themes.googleusercontent.com/fonts/css?kit=xTOoZr6X-i3kNg7pYrzMsnEzyYBuwf3lO_Sc3Mw9RUVbV0WvE1cEyAoIq5yYZlSc");
    .lst-kix_bdlsd12fn9xg-5 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_bdlsd12fn9xg-6 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_qlf5i6w2wl6a-7 {
      list-style-type: none;
    }
    ul.lst-kix_qlf5i6w2wl6a-8 {
      list-style-type: none;
    }
    .lst-kix_bdlsd12fn9xg-3 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_bdlsd12fn9xg-7 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_qlf5i6w2wl6a-3 {
      list-style-type: none;
    }
    ul.lst-kix_6yb0cu5hm3n2-8 {
      list-style-type: none;
    }
    .lst-kix_j224j1bvcc10-2 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_qlf5i6w2wl6a-4 {
      list-style-type: none;
    }
    ul.lst-kix_6yb0cu5hm3n2-7 {
      list-style-type: none;
    }
    ul.lst-kix_qlf5i6w2wl6a-5 {
      list-style-type: none;
    }
    ul.lst-kix_6yb0cu5hm3n2-6 {
      list-style-type: none;
    }
    ul.lst-kix_qlf5i6w2wl6a-6 {
      list-style-type: none;
    }
    ul.lst-kix_6yb0cu5hm3n2-5 {
      list-style-type: none;
    }
    ul.lst-kix_6yb0cu5hm3n2-4 {
      list-style-type: none;
    }
    .lst-kix_j224j1bvcc10-0 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_qlf5i6w2wl6a-0 {
      list-style-type: none;
    }
    .lst-kix_bdlsd12fn9xg-4 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_6yb0cu5hm3n2-3 {
      list-style-type: none;
    }
    ul.lst-kix_qlf5i6w2wl6a-1 {
      list-style-type: none;
    }
    ul.lst-kix_6yb0cu5hm3n2-2 {
      list-style-type: none;
    }
    .lst-kix_j224j1bvcc10-1 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_qlf5i6w2wl6a-2 {
      list-style-type: none;
    }
    ul.lst-kix_6yb0cu5hm3n2-1 {
      list-style-type: none;
    }
    .lst-kix_bdlsd12fn9xg-1 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_bdlsd12fn9xg-2 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_cecwlo75lxku-3 > li:before {
      content: "-  ";
    }
    .lst-kix_bdlsd12fn9xg-0 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_cecwlo75lxku-4 > li:before {
      content: "-  ";
    }
    .lst-kix_qlf5i6w2wl6a-8 > li:before {
      content: "-  ";
    }
    .lst-kix_cecwlo75lxku-2 > li:before {
      content: "-  ";
    }
    .lst-kix_qlf5i6w2wl6a-6 > li:before {
      content: "-  ";
    }
    .lst-kix_cecwlo75lxku-1 > li:before {
      content: "-  ";
    }
    .lst-kix_qlf5i6w2wl6a-7 > li:before {
      content: "-  ";
    }
    .lst-kix_j224j1bvcc10-8 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_cecwlo75lxku-0 > li:before {
      content: "-  ";
    }
    ul.lst-kix_bdlsd12fn9xg-1 {
      list-style-type: none;
    }
    ul.lst-kix_6yb0cu5hm3n2-0 {
      list-style-type: none;
    }
    .lst-kix_j224j1bvcc10-6 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_bdlsd12fn9xg-2 {
      list-style-type: none;
    }
    ul.lst-kix_bdlsd12fn9xg-3 {
      list-style-type: none;
    }
    ul.lst-kix_bdlsd12fn9xg-4 {
      list-style-type: none;
    }
    .lst-kix_j224j1bvcc10-3 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_j224j1bvcc10-7 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_bdlsd12fn9xg-0 {
      list-style-type: none;
    }
    .lst-kix_asdazmdhv7qv-3 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_bdlsd12fn9xg-5 {
      list-style-type: none;
    }
    .lst-kix_j224j1bvcc10-4 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_bdlsd12fn9xg-6 {
      list-style-type: none;
    }
    .lst-kix_asdazmdhv7qv-1 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_asdazmdhv7qv-2 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_bdlsd12fn9xg-7 {
      list-style-type: none;
    }
    .lst-kix_j224j1bvcc10-5 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_bdlsd12fn9xg-8 {
      list-style-type: none;
    }
    .lst-kix_asdazmdhv7qv-0 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_asdazmdhv7qv-0 {
      list-style-type: none;
    }
    ul.lst-kix_asdazmdhv7qv-3 {
      list-style-type: none;
    }
    ul.lst-kix_asdazmdhv7qv-4 {
      list-style-type: none;
    }
    ul.lst-kix_asdazmdhv7qv-1 {
      list-style-type: none;
    }
    ul.lst-kix_asdazmdhv7qv-2 {
      list-style-type: none;
    }
    ul.lst-kix_asdazmdhv7qv-7 {
      list-style-type: none;
    }
    ul.lst-kix_asdazmdhv7qv-8 {
      list-style-type: none;
    }
    ul.lst-kix_asdazmdhv7qv-5 {
      list-style-type: none;
    }
    ul.lst-kix_asdazmdhv7qv-6 {
      list-style-type: none;
    }
    .lst-kix_biq18l1ppml2-4 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_cecwlo75lxku-5 > li:before {
      content: "-  ";
    }
    .lst-kix_biq18l1ppml2-2 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_biq18l1ppml2-6 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_biq18l1ppml2-1 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_biq18l1ppml2-5 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_cecwlo75lxku-6 > li:before {
      content: "-  ";
    }
    .lst-kix_biq18l1ppml2-0 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_biq18l1ppml2-8 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_cecwlo75lxku-7 > li:before {
      content: "-  ";
    }
    .lst-kix_cecwlo75lxku-8 > li:before {
      content: "-  ";
    }
    .lst-kix_biq18l1ppml2-7 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_biq18l1ppml2-3 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_b1ncla8n1m10-4 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_b1ncla8n1m10-2 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_b1ncla8n1m10-6 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_b1ncla8n1m10-0 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_b1ncla8n1m10-8 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_a5f7m3kjifbc-0 {
      list-style-type: none;
    }
    ul.lst-kix_j224j1bvcc10-0 {
      list-style-type: none;
    }
    .lst-kix_lybkr0q425i2-1 > li:before {
      content: "-  ";
    }
    ul.lst-kix_j224j1bvcc10-3 {
      list-style-type: none;
    }
    ul.lst-kix_j224j1bvcc10-4 {
      list-style-type: none;
    }
    ul.lst-kix_j224j1bvcc10-1 {
      list-style-type: none;
    }
    ul.lst-kix_j224j1bvcc10-2 {
      list-style-type: none;
    }
    ul.lst-kix_a5f7m3kjifbc-7 {
      list-style-type: none;
    }
    ul.lst-kix_j224j1bvcc10-7 {
      list-style-type: none;
    }
    ul.lst-kix_a5f7m3kjifbc-8 {
      list-style-type: none;
    }
    ul.lst-kix_j224j1bvcc10-8 {
      list-style-type: none;
    }
    .lst-kix_lybkr0q425i2-3 > li:before {
      content: "-  ";
    }
    ul.lst-kix_a5f7m3kjifbc-5 {
      list-style-type: none;
    }
    ul.lst-kix_j224j1bvcc10-5 {
      list-style-type: none;
    }
    ul.lst-kix_a5f7m3kjifbc-6 {
      list-style-type: none;
    }
    ul.lst-kix_j224j1bvcc10-6 {
      list-style-type: none;
    }
    ul.lst-kix_a5f7m3kjifbc-3 {
      list-style-type: none;
    }
    ul.lst-kix_a5f7m3kjifbc-4 {
      list-style-type: none;
    }
    ul.lst-kix_a5f7m3kjifbc-1 {
      list-style-type: none;
    }
    ul.lst-kix_a5f7m3kjifbc-2 {
      list-style-type: none;
    }
    .lst-kix_uhs9xf8s3c4w-2 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_uhs9xf8s3c4w-0 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_uhs9xf8s3c4w-4 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_6yb0cu5hm3n2-5 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_cecwlo75lxku-0 {
      list-style-type: none;
    }
    ul.lst-kix_cecwlo75lxku-1 {
      list-style-type: none;
    }
    ul.lst-kix_cecwlo75lxku-2 {
      list-style-type: none;
    }
    ul.lst-kix_cecwlo75lxku-3 {
      list-style-type: none;
    }
    .lst-kix_asdazmdhv7qv-5 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_6yb0cu5hm3n2-7 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_qlf5i6w2wl6a-1 > li:before {
      content: "-  ";
    }
    ul.lst-kix_cecwlo75lxku-8 {
      list-style-type: none;
    }
    ul.lst-kix_uhs9xf8s3c4w-0 {
      list-style-type: none;
    }
    .lst-kix_asdazmdhv7qv-7 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_uhs9xf8s3c4w-1 {
      list-style-type: none;
    }
    .lst-kix_lybkr0q425i2-7 > li:before {
      content: "-  ";
    }
    ul.lst-kix_uhs9xf8s3c4w-2 {
      list-style-type: none;
    }
    ul.lst-kix_uhs9xf8s3c4w-3 {
      list-style-type: none;
    }
    ul.lst-kix_cecwlo75lxku-4 {
      list-style-type: none;
    }
    ul.lst-kix_cecwlo75lxku-5 {
      list-style-type: none;
    }
    .lst-kix_uhs9xf8s3c4w-8 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_cecwlo75lxku-6 {
      list-style-type: none;
    }
    .lst-kix_6yb0cu5hm3n2-1 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_cecwlo75lxku-7 {
      list-style-type: none;
    }
    .lst-kix_qlf5i6w2wl6a-5 > li:before {
      content: "-  ";
    }
    ul.lst-kix_uhs9xf8s3c4w-8 {
      list-style-type: none;
    }
    .lst-kix_uhs9xf8s3c4w-6 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_lybkr0q425i2-5 > li:before {
      content: "-  ";
    }
    .lst-kix_qlf5i6w2wl6a-3 > li:before {
      content: "-  ";
    }
    ul.lst-kix_uhs9xf8s3c4w-4 {
      list-style-type: none;
    }
    ul.lst-kix_uhs9xf8s3c4w-5 {
      list-style-type: none;
    }
    .lst-kix_6yb0cu5hm3n2-3 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_uhs9xf8s3c4w-6 {
      list-style-type: none;
    }
    ul.lst-kix_uhs9xf8s3c4w-7 {
      list-style-type: none;
    }
    ul.lst-kix_4rm75531d848-1 {
      list-style-type: none;
    }
    ul.lst-kix_4rm75531d848-2 {
      list-style-type: none;
    }
    ul.lst-kix_4rm75531d848-0 {
      list-style-type: none;
    }
    .lst-kix_a5f7m3kjifbc-7 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_a5f7m3kjifbc-8 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_4rm75531d848-5 {
      list-style-type: none;
    }
    ul.lst-kix_4rm75531d848-6 {
      list-style-type: none;
    }
    ul.lst-kix_4rm75531d848-3 {
      list-style-type: none;
    }
    ul.lst-kix_4rm75531d848-4 {
      list-style-type: none;
    }
    ul.lst-kix_4rm75531d848-7 {
      list-style-type: none;
    }
    ul.lst-kix_4rm75531d848-8 {
      list-style-type: none;
    }
    .lst-kix_4rm75531d848-7 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_4rm75531d848-6 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_4rm75531d848-8 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_nvxw83hz52x8-4 {
      list-style-type: none;
    }
    .lst-kix_nvxw83hz52x8-5 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_nvxw83hz52x8-5 {
      list-style-type: none;
    }
    ul.lst-kix_nvxw83hz52x8-6 {
      list-style-type: none;
    }
    ul.lst-kix_nvxw83hz52x8-7 {
      list-style-type: none;
    }
    ul.lst-kix_nvxw83hz52x8-0 {
      list-style-type: none;
    }
    .lst-kix_nvxw83hz52x8-3 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_nvxw83hz52x8-1 {
      list-style-type: none;
    }
    .lst-kix_nvxw83hz52x8-7 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_4rm75531d848-2 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_nvxw83hz52x8-2 {
      list-style-type: none;
    }
    .lst-kix_nvxw83hz52x8-4 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_nvxw83hz52x8-3 {
      list-style-type: none;
    }
    ul.lst-kix_biq18l1ppml2-5 {
      list-style-type: none;
    }
    .lst-kix_4rm75531d848-3 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_biq18l1ppml2-4 {
      list-style-type: none;
    }
    ul.lst-kix_biq18l1ppml2-7 {
      list-style-type: none;
    }
    ul.lst-kix_biq18l1ppml2-6 {
      list-style-type: none;
    }
    .lst-kix_4rm75531d848-5 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_nvxw83hz52x8-8 {
      list-style-type: none;
    }
    ul.lst-kix_biq18l1ppml2-8 {
      list-style-type: none;
    }
    .lst-kix_4rm75531d848-4 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_nvxw83hz52x8-6 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_nvxw83hz52x8-8 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_4rm75531d848-1 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_4rm75531d848-0 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_a5f7m3kjifbc-6 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_a5f7m3kjifbc-4 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_a5f7m3kjifbc-5 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_a5f7m3kjifbc-2 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_a5f7m3kjifbc-3 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_a5f7m3kjifbc-0 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_biq18l1ppml2-1 {
      list-style-type: none;
    }
    ul.lst-kix_biq18l1ppml2-0 {
      list-style-type: none;
    }
    .lst-kix_a5f7m3kjifbc-1 > li:before {
      content: "\0025cb  ";
    }
    ul.lst-kix_biq18l1ppml2-3 {
      list-style-type: none;
    }
    .lst-kix_nvxw83hz52x8-0 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_biq18l1ppml2-2 {
      list-style-type: none;
    }
    .lst-kix_nvxw83hz52x8-1 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_nvxw83hz52x8-2 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_b1ncla8n1m10-3 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_b1ncla8n1m10-7 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_b1ncla8n1m10-1 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_lybkr0q425i2-0 > li:before {
      content: "-  ";
    }
    .lst-kix_lybkr0q425i2-4 > li:before {
      content: "-  ";
    }
    .lst-kix_lybkr0q425i2-2 > li:before {
      content: "-  ";
    }
    ul.lst-kix_lybkr0q425i2-5 {
      list-style-type: none;
    }
    ul.lst-kix_lybkr0q425i2-4 {
      list-style-type: none;
    }
    ul.lst-kix_lybkr0q425i2-3 {
      list-style-type: none;
    }
    ul.lst-kix_lybkr0q425i2-2 {
      list-style-type: none;
    }
    ul.lst-kix_lybkr0q425i2-1 {
      list-style-type: none;
    }
    ul.lst-kix_lybkr0q425i2-0 {
      list-style-type: none;
    }
    ul.lst-kix_lybkr0q425i2-8 {
      list-style-type: none;
    }
    .lst-kix_b1ncla8n1m10-5 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_lybkr0q425i2-7 {
      list-style-type: none;
    }
    ul.lst-kix_lybkr0q425i2-6 {
      list-style-type: none;
    }
    ul.lst-kix_b1ncla8n1m10-6 {
      list-style-type: none;
    }
    .lst-kix_6yb0cu5hm3n2-6 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_b1ncla8n1m10-5 {
      list-style-type: none;
    }
    .lst-kix_uhs9xf8s3c4w-3 > li:before {
      content: "\0025cf  ";
    }
    ul.lst-kix_b1ncla8n1m10-4 {
      list-style-type: none;
    }
    ul.lst-kix_b1ncla8n1m10-3 {
      list-style-type: none;
    }
    ul.lst-kix_b1ncla8n1m10-2 {
      list-style-type: none;
    }
    .lst-kix_6yb0cu5hm3n2-4 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_6yb0cu5hm3n2-8 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_b1ncla8n1m10-1 {
      list-style-type: none;
    }
    .lst-kix_uhs9xf8s3c4w-1 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_uhs9xf8s3c4w-5 > li:before {
      content: "\0025a0  ";
    }
    ul.lst-kix_b1ncla8n1m10-0 {
      list-style-type: none;
    }
    .lst-kix_asdazmdhv7qv-4 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_asdazmdhv7qv-6 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_lybkr0q425i2-8 > li:before {
      content: "-  ";
    }
    .lst-kix_asdazmdhv7qv-8 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_qlf5i6w2wl6a-0 > li:before {
      content: "-  ";
    }
    .lst-kix_qlf5i6w2wl6a-2 > li:before {
      content: "-  ";
    }
    .lst-kix_6yb0cu5hm3n2-0 > li:before {
      content: "\0025cf  ";
    }
    .lst-kix_6yb0cu5hm3n2-2 > li:before {
      content: "\0025a0  ";
    }
    .lst-kix_uhs9xf8s3c4w-7 > li:before {
      content: "\0025cb  ";
    }
    .lst-kix_qlf5i6w2wl6a-4 > li:before {
      content: "-  ";
    }
    .lst-kix_lybkr0q425i2-6 > li:before {
      content: "-  ";
    }
    ul.lst-kix_b1ncla8n1m10-8 {
      list-style-type: none;
    }
    ul.lst-kix_b1ncla8n1m10-7 {
      list-style-type: none;
    }
    li.li-bullet-0:before {
      margin-left: -18pt;
      white-space: nowrap;
      display: inline-block;
      min-width: 18pt;
    }
    .lst-kix_bdlsd12fn9xg-8 > li:before {
      content: "\0025a0  ";
    }
    ol {
      margin: 0;
      padding: 0;
    }
    table td,
    table th {
      padding: 0;
    }
    .c0 {
      border-right-style: solid;
      padding: 5pt 5pt 5pt 5pt;
      border-bottom-color: #ffffff;
      border-top-width: 0pt;
      border-right-width: 0pt;
      border-left-color: #ffffff;
      vertical-align: top;
      border-right-color: #ffffff;
      border-left-width: 0pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 0pt;
      width: 359.2pt;
      border-top-color: #ffffff;
      border-bottom-style: solid;
    }
    .c16 {
      border-right-style: solid;
      padding: 3.6pt 3.6pt 3.6pt 3.6pt;
      border-bottom-color: #ffffff;
      border-top-width: 0pt;
      border-right-width: 0pt;
      border-left-color: #ffffff;
      vertical-align: top;
      border-right-color: #ffffff;
      border-left-width: 0pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 0pt;
      width: 144pt;
      border-top-color: #ffffff;
      border-bottom-style: solid;
    }
    .c1 {
      margin-left: 36pt;
      padding-top: 0pt;
      padding-left: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
    .c15 {
      color: #000000;
      font-weight: 700;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 9pt;
      font-family: "Lato";
      font-style: normal;
    }
    .c4 {
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 9pt;
      font-family: "Lato";
      font-style: normal;
    }
    .c14 {
      color: #666666;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 8pt;
      font-family: "Lato";
      font-style: normal;
    }
    .c6 {
      color: #000000;
      font-weight: 700;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 13pt;
      font-family: "Lato";
      font-style: normal;
    }
    .c3 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      orphans: 2;
      widows: 2;
      text-align: left;
      height: 11pt;
    }
    .c28 {
      color: #f2511b;
      font-weight: 700;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Raleway";
      font-style: normal;
    }
    .c18 {
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Lato";
      font-style: normal;
    }
    .c13 {
      color: #000000;
      font-weight: 700;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Raleway";
      font-style: normal;
    }
    .c22 {
      color: #000000;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Lato";
      font-style: normal;
    }
    .c35 {
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Lato";
      font-style: normal;
    }
    .c2 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left;
    }
    .c11 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      text-align: left;
    }
    .c5 {
      padding-top: 6pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left;
    }
    .c9 {
      padding-top: 16pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left;
    }
    .c37 {
      padding-top: 3pt;
      padding-bottom: 0pt;
      line-height: 1;
      text-align: left;
    }
    .c30 {
      padding-top: 5pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left;
    }
    .c32 {
      margin-left: -0.8pt;
      border-spacing: 0;
      border-collapse: collapse;
      margin-right: auto;
    }
    .c38 {
      padding-top: 10pt;
      padding-bottom: 0pt;
      line-height: 1;
      text-align: left;
    }
    .c23 {
      padding-top: 4pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left;
    }
    .c31 {
      background-color: #ffffff;
      max-width: 504pt;
      padding: 36pt 54pt 36pt 54pt;
    }
    .c21 {
      orphans: 2;
      widows: 2;
      height: 11pt;
    }
    .c26 {
      font-size: 13pt;
      font-family: "Lato";
      font-weight: 700;
    }
    .c36 {
      font-size: 13pt;
      font-family: "Lato";
      font-weight: 400;
    }
    .c25 {
      padding: 0;
      margin: 0;
    }
    .c7 {
      font-size: 10pt;
      font-weight: 700;
    }
    .c39 {
      orphans: 2;
      widows: 2;
    }
    .c27 {
      color: #d44500;
    }
    .c12 {
      font-size: 10pt;
    }
    .c17 {
      font-size: 12pt;
    }
    .c42 {
      height: 183pt;
    }
    .c20 {
      height: 69pt;
    }
    .c41 {
      height: 219.8pt;
    }
    .c40 {
      height: 0pt;
    }
    .c29 {
      font-size: 24pt;
    }
    .c19 {
      font-size: 9pt;
    }
    .c10 {
      height: 91.5pt;
    }
    .c8 {
      font-size: 17pt;
    }
    .c34 {
      page-break-after: avoid;
    }
    .c33 {
      font-size: 11pt;
    }
    .c24 {
      height: 12pt;
    }
    .title {
      padding-top: 6pt;
      color: #000000;
      font-weight: 700;
      font-size: 24pt;
      padding-bottom: 0pt;
      font-family: "Raleway";
      line-height: 1;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
    .subtitle {
      padding-top: 3pt;
      color: #f2511b;
      font-weight: 700;
      font-size: 16pt;
      padding-bottom: 0pt;
      font-family: "Raleway";
      line-height: 1;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
    li {
      color: #000000;
      font-size: 11pt;
      font-family: "Lato";
    }
    p {
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: "Lato";
    }
    h1 {
      padding-top: 4pt;
      color: #000000;
      font-weight: 700;
      font-size: 12pt;
      padding-bottom: 0pt;
      font-family: "Raleway";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
    h2 {
      padding-top: 6pt;
      color: #000000;
      font-weight: 700;
      font-size: 11pt;
      padding-bottom: 0pt;
      font-family: "Lato";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
    h3 {
      padding-top: 6pt;
      color: #666666;
      font-size: 9pt;
      padding-bottom: 0pt;
      font-family: "Lato";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
    h4 {
      padding-top: 8pt;
      -webkit-text-decoration-skip: none;
      color: #666666;
      text-decoration: underline;
      font-size: 11pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      page-break-after: avoid;
      text-decoration-skip-ink: none;
      font-family: "Trebuchet MS";
      orphans: 2;
      widows: 2;
      text-align: left;
    }
    h5 {
      padding-top: 8pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 0pt;
      font-family: "Trebuchet MS";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
    h6 {
      padding-top: 8pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 0pt;
      font-family: "Trebuchet MS";
      line-height: 1.15;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
  </style>
</div>
{% endblock %} 

{% block content %}
<div class="container" align="center">
  <body class="c31">
    <div>
      <p class="c5 c21"><span class="c18 c33"></span></p>
    </div>
    <h1 class="c2 c24 c34" id="h.5ffs1fqhjusk">
      <span class="c13 c33"></span>
    </h1>
    <a id="t.47e0bf64b04fd4e52ef25144a6fde9861d758744"></a><a id="t.0"></a>
    <table class="c32">
      <tbody>
        <tr class="c10">
          <td class="c16" colspan="1" rowspan="1">
            <p class="c11 c34 title" id="h.4prkjmzco10w">
              <span>Zev Lerner</span>
            </p>
            <p class="c37 subtitle" id="h.o2iwx3vdck7p">
              <span>Software Engineer &nbsp; &nbsp; &nbsp; &nbsp; </span
              ><span class="c17 c28">Minor: Human Factors</span>
            </p>
            <p class="c3"><span class="c18 c12"></span></p>
          </td>
          <td class="c0" colspan="1" rowspan="1">
            <p class="c11">
              <span
                style="
                  overflow: hidden;
                  display: inline-block;
                  margin: 0px 0px;
                  border: 0px solid #000000;
                  transform: rotate(0rad) translateZ(0px);
                  -webkit-transform: rotate(0rad) translateZ(0px);
                  width: 418px;
                  height: 2.67px;
                "
                ><img
                  alt=""
                  src="images/image1.png"
                  style="
                    width: 418px;
                    height: 2.67px;
                    margin-left: 0px;
                    margin-top: 0px;
                    transform: rotate(0rad) translateZ(0px);
                    -webkit-transform: rotate(0rad) translateZ(0px);
                  "
                  title="horizontal line"
              /></span>
            </p>
            <h1 class="c5" id="h.lf5wiiqsu4ub">
              <span class="c33">LinkedIn: </span
              ><span class="c33"
                >https://www.linkedin.com/in/zevlerner411/</span
              >
            </h1>
            <p class="c11"><span class="c19">Melbourne, FL </span></p>
            <p class="c38"><span class="c27 c19">954-552-8854</span></p>
            <p class="c11">
              <span class="c19 c27">zevlerner411@gmail.com</span>
            </p>
          </td>
        </tr>
        <tr class="c20">
          <td class="c16" colspan="1" rowspan="1">
            <p class="c11"><span class="c26">&#12641;</span></p>
            <h1 class="c23" id="h.xvet3894ncg2">
              <span class="c13 c8">Skills</span>
            </h1>
          </td>
          <td class="c0" colspan="1" rowspan="1">
            <p class="c2">
              <span
                style="
                  overflow: hidden;
                  display: inline-block;
                  margin: 0px 0px;
                  border: 0px solid #000000;
                  transform: rotate(0rad) translateZ(0px);
                  -webkit-transform: rotate(0rad) translateZ(0px);
                  width: 418px;
                  height: 2.67px;
                "
                ><img
                  alt=""
                  src="images/image1.png"
                  style="
                    width: 418px;
                    height: 2.67px;
                    margin-left: 0px;
                    margin-top: 0px;
                    transform: rotate(0rad) translateZ(0px);
                    -webkit-transform: rotate(0rad) translateZ(0px);
                  "
                  title="horizontal line"
              /></span>
            </p>
            <p class="c5">
              <span class="c7">Languages: </span><span class="c19">Python,</span
              ><span class="c19">&nbsp;C, </span
              ><span class="c19">C++, HTML</span
              ><span class="c4">, CSS, Java, JavaScript, React.js</span>
            </p>
            <p class="c5">
              <span class="c7">Tools:</span
              ><span class="c19"
                >&nbsp;Windows, Mac OS, Linux, Django, Github, Node.js, VMware,
                Eclipse, Adobe XD</span
              >
            </p>
          </td>
        </tr>
        <tr class="c42">
          <td class="c16" colspan="1" rowspan="1">
            <p class="c11"><span class="c26">&#12641;</span></p>
            <h1 class="c23" id="h.gbnhrfggwdei">
              <span class="c8">Co-Curricular</span>
            </h1>
          </td>
          <td class="c0" colspan="1" rowspan="1">
            <p class="c2">
              <span
                style="
                  overflow: hidden;
                  display: inline-block;
                  margin: 0px 0px;
                  border: 0px solid #000000;
                  transform: rotate(0rad) translateZ(0px);
                  -webkit-transform: rotate(0rad) translateZ(0px);
                  width: 418px;
                  height: 2.67px;
                "
                ><img
                  alt=""
                  src="images/image1.png"
                  style="
                    width: 418px;
                    height: 2.67px;
                    margin-left: 0px;
                    margin-top: 0px;
                    transform: rotate(0rad) translateZ(0px);
                    -webkit-transform: rotate(0rad) translateZ(0px);
                  "
                  title="horizontal line"
              /></span>
            </p>
            <h2 class="c5" id="h.4ocykajsel31">
              <span class="c12">Spotify Music Controller/ </span
              ><span class="c18 c12">Spotify API Web Application</span>
            </h2>
            <h3 class="c2" id="h.c0e4j11dx9zm">
              <span class="c14">March 2021, &nbsp;Melbourne FL</span>
            </h3>
            <ul class="c25 lst-kix_biq18l1ppml2-0 start">
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Multiple users join a hosted room and are able to pause,
                  play, and skip &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;the
                  host&rsquo;s current track playing</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Built with Django to utilize the REST framework</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Pulls from Spotify&rsquo;s web API to control a music
                  player</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Frontend developed using Html, CSS, Javascript, and
                  &nbsp;React.js utilizing Material-UI components
                </span>
              </li>
            </ul>
            <h2 class="c5" id="h.kwl1jatkrlag">
              <span class="c12">Speed-Reader/ </span
              ><span class="c18 c12">Open Source Web Application</span>
            </h2>
            <h3 class="c2" id="h.5ntwia2mx9q9">
              <span class="c14"
                >November 2020 &nbsp;- Present, &nbsp;Melbourne FL</span
              >
            </h3>
            <ul class="c25 lst-kix_biq18l1ppml2-0">
              <li class="c1 li-bullet-0">
                <span class="c19"
                  >Speed-Reader was created to help users read information
                  faster from an uploaded document</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >It displays one word at a time to register information at a
                  faster pace
                </span>
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Modular display speeds in the form of words per minute</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Uses Git to contribute to the project workflow on
                  GitHub</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Working on code as a team with other contributors</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4">Backend developed in Python using Flask</span>
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Frontend developed in Html, Css, and Javascript</span
                >
              </li>
            </ul>
            <p class="c3"><span class="c4"></span></p>
            <p class="c11 c39">
              <span class="c7">Birthday / </span
              ><span class="c12 c18">Python Language</span>
            </p>
            <h3 class="c2" id="h.80m0megl6m3e">
              <span class="c14">November 2020, &nbsp;Melbourne FL</span>
            </h3>
            <ul class="c25 lst-kix_biq18l1ppml2-0">
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Uses MySQL to fetch date of birth data from a database</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Displays data as a heatmap using numpy and matplotlib</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Range of years can be specified for data query</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Widgets from matplotlib are used for user input</span
                >
              </li>
            </ul>
          </td>
        </tr>
        <tr class="c41">
          <td class="c16" colspan="1" rowspan="1">
            <p class="c11"><span class="c26">&#12641;</span></p>
            <h1 class="c23" id="h.tk538brb1kdf">
              <span class="c13 c8">Education</span>
            </h1>
            <h1 class="c23 c24" id="h.4qn0tkvfrbej">
              <span class="c6"></span>
            </h1>
            <h1 class="c23 c24" id="h.ibms9uv8wptl">
              <span class="c6"></span>
            </h1>
            <h1 class="c23 c24" id="h.61280fapoae7">
              <span class="c6"></span>
            </h1>
            <h1 class="c23 c24" id="h.73pja6fkm8kk">
              <span class="c6"></span>
            </h1>
            <h1 class="c23" id="h.y1aejae0812c">
              <span class="c36">&#12641;</span>
            </h1>
            <h1 class="c23" id="h.y6mvaocdh9wr">
              <span class="c8">Leadership</span>
            </h1>
          </td>
          <td class="c0" colspan="1" rowspan="1">
            <p class="c2">
              <span
                style="
                  overflow: hidden;
                  display: inline-block;
                  margin: 0px 0px;
                  border: 0px solid #000000;
                  transform: rotate(0rad) translateZ(0px);
                  -webkit-transform: rotate(0rad) translateZ(0px);
                  width: 418px;
                  height: 2.67px;
                "
                ><img
                  alt=""
                  src="images/image1.png"
                  style="
                    width: 418px;
                    height: 2.67px;
                    margin-left: 0px;
                    margin-top: 0px;
                    transform: rotate(0rad) translateZ(0px);
                    -webkit-transform: rotate(0rad) translateZ(0px);
                  "
                  title="horizontal line"
              /></span>
            </p>
            <h2 class="c9" id="h.mplbhpa8fmwd">
              <span class="c12">Florida Institute of Technology </span
              ><span class="c18 c12">/ B.S Software Engineering </span>
            </h2>
            <h3 class="c2" id="h.p8zonisap9e3">
              <span class="c14"
                >August 2018 - May 2022 (Expected Graduation), &nbsp;Melbourne
                FL</span
              >
            </h3>
            <p class="c30"><span class="c7 c22">Relevant Coursework: </span></p>
            <p class="c30">
              <span class="c4"
                >Software Development with C, Algorithms &amp; Data Structures,
                Intro to Software Engineering, Intro to Applied Human Factors,
                Human-Computer Interaction, &nbsp; &nbsp; &nbsp; &nbsp;Operating
                Systems Concepts, Software Design Methods, Applied Discrete
                Math, Calculus 1 &amp; 2, &nbsp;Linear Algebra, Scientific and
                Technical Communication</span
              >
            </p>
            <p class="c30">
              <span
                style="
                  overflow: hidden;
                  display: inline-block;
                  margin: 0px 0px;
                  border: 0px solid #000000;
                  transform: rotate(0rad) translateZ(0px);
                  -webkit-transform: rotate(0rad) translateZ(0px);
                  width: 418px;
                  height: 2.67px;
                "
                ><img
                  alt=""
                  src="images/image1.png"
                  style="
                    width: 418px;
                    height: 2.67px;
                    margin-left: 0px;
                    margin-top: 0px;
                    transform: rotate(0rad) translateZ(0px);
                    -webkit-transform: rotate(0rad) translateZ(0px);
                  "
                  title="horizontal line"
              /></span>
            </p>
            <p class="c30">
              <span class="c7">Pi Lambda Phi Fraternit</span
              ><span class="c12">y</span><span class="c7">&nbsp;/ </span
              ><span class="c18 c12">Vice President of Communication</span>
            </p>
            <h3 class="c2" id="h.eoxtwdz0nydv">
              <span class="c14"
                >January 2019 - November 2020, &nbsp;Melbourne FL</span
              >
            </h3>
            <ul class="c25 lst-kix_j224j1bvcc10-0 start">
              <li class="c1 li-bullet-0">
                <span class="c4"
                  >Manage social media and alumni communication</span
                >
              </li>
              <li class="c1 li-bullet-0">
                <span class="c4">Communicate with external organizations</span>
              </li>
              <li class="c1 li-bullet-0">
                <span class="c19">Document meetings and information</span>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="c40">
          <td class="c16" colspan="1" rowspan="1">
            <h1 class="c23 c24" id="h.skqh4zb6ceyb">
              <span class="c8 c13"></span>
            </h1>
          </td>
          <td class="c0" colspan="1" rowspan="1">
            <p class="c3"><span class="c4"></span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c2 c21"><span class="c18 c12"></span></p>
    <div>
      <p class="c5 c21"><span class="c18 c33"></span></p>
    </div>
  </body>
</div>
{% endblock %}
